<a href="https://colab.research.google.com/github/alejandronatale21051986/Tutoriales/blob/main/semilla_panda_plotly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Readme, criterios de organización.


###Criterios al  importar data frame.###

Data Frames solo se usaran los data frames en git se buscara el link de tipo raw. En el caso que el data frame sea confidencial se usara el google drive. Luego primero se creara un data frame de la siguiente manera:
uvi_df_table=pd.read_html('http://data.podemosaprender.org/finanzas/UVI_BCRA_2022.html')
uvi_df=uvi_df_table[0]
uvi_df


###Columnas data frame. 


###Nombre de variables.###  

Cuando se importa un data frame se debe revisar todas las columnas que empiecen con mayúscula, si no es asi cambiarlas. "dolar_blue_df.rename(columns={'fecha':'Fecha'}, inplace=True)" 


Solo se usan mayúsculas para nombres propios para siglas. -> CABJ, Lionel_Messi, 

Si es  nombre de una data frame table -> uvi_df_table

Si es nombre solo de data frame ->uvi_df

Si en nombre de "indice guion bajo nombre de variable" -> indice_dolar_blue, indice_UVA (UVA en mayúscula xq es una sigla), indice_CABJ, indice_caramelos_sugs.

 

Nombre de variables solo en singular.

#Primera bloc de librerias

In [ ]:
!pip install --upgrade plotly;
!pip install jupyter-dash; #TODO: es necesario? Que suma?

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (5.5.0)
Collecting plotly
  Downloading plotly-5.11.0-py2.py3-none-any.whl (15.3 MB)
     |████████████████████████████████| 15.3 MB 4.2 MB/s
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly) (8.1.0)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.5.0
    Uninstalling plotly-5.5.0:
      Successfully uninstalled plotly-5.5.0
Successfully installed plotly-5.11.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting jupyter-dash
  Downloading jupyter_dash-0.4.2-py3-none-any.whl (23 kB)
Requirement already satisfied: ipython in /usr/local/lib/python3.8/dist-packages (from jupyter-dash) (7.9.0)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.8/dist-packages (from jupyter-dash) (5.3.4)
Collecting retrying
  Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Collecting dash
  Downloading dash-2.7.0-py3-none-any.whl (9.9 MB)
     |████████████████████████████████| 9.9 MB 6.2 MB/s
Requirement already satisfied: flask in /usr/local/lib/python3.8/dist-packages (from jupyter-dash) (1.1.4)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from jupyter-dash) (2.23.0)
Collecting ansi2html
  Downloading ansi2html-1.8.0-py3-none-any.whl (16 kB)
Collecting nest-asyncio
  Downloading nest_asyncio-1.5.6-py3-none-any.whl (5.2 kB)
Collecting dash-table==5.0.0
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Collecting dash-core-components==2.0.0
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.8/dist-packages (from dash->jupyter-dash) (5.11.0)
Collecting dash-html-components==2.0.0
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.8/dist-packages (from flask->jupyter-dash) (2.11.3)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.8/dist-packages (from flask->jupyter-dash) (1.1.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.8/dist-packages (from flask->jupyter-dash) (7.1.2)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.8/dist-packages (from flask->jupyter-dash) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from Jinja2<3.0,>=2.10.1->flask->jupyter-dash) (2.0.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly>=5.0.0->dash->jupyter-dash) (8.1.0)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.8/dist-packages (from ipykernel->jupyter-dash) (6.1.12)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.8/dist-packages (from ipykernel->jupyter-dash) (5.1.1)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipykernel->jupyter-dash) (6.0.4)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython->jupyter-dash) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython->jupyter-dash) (2.6.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython->jupyter-dash) (0.7.5)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython->jupyter-dash) (0.2.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython->jupyter-dash) (2.0.10)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 53.4 MB/s
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython->jupyter-dash) (57.4.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython->jupyter-dash) (4.4.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython->jupyter-dash) (0.8.3)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->jupyter-dash) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->jupyter-dash) (0.2.5)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.8/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (23.2.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (2.8.2)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.8/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (4.11.2)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->ipython->jupyter-dash) (0.7.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->jupyter-dash) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->jupyter-dash) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->jupyter-dash) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->jupyter-dash) (2.10)
Installing collected packages: jedi, dash-table, dash-html-components, dash-core-components, retrying, nest-asyncio, dash, ansi2html, jupyter-dash
Successfully installed ansi2html-1.8.0 dash-2.7.0 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 jedi-0.18.2 jupyter-dash-0.4.2 nest-asyncio-1.5.6 retrying-1.3.4

#Segundo bloc de librerias

In [ ]:
import pandas as pd #U: leer y agrupar datos



#Tercer block de librerias

In [ ]:
import plotly.graph_objects as go #U: graficar con plotly
import plotly.express as px #U: graficar con plotly

from jupyter_dash import JupyterDash #TODO: como se usa? necesitamos? #VER: https://analyticsindiamag.com/how-to-use-plotly-in-colab/
from dash import dcc
from dash import html
from dash.dependencies import Input, Output

#Ubicar datos historicos

#Ubicar todos los links de donde voy a sacar la informacion.

'http://data.podemosaprender.org/finanzas/UVA_BCRA_2022.html'
'http://data.podemosaprender.org/finanzas/UVI_BCRA_2022.html'
"https://data.podemosaprender.org/finanzas/USD_BLUE_2022.csv"

#Creacion de variable_df_table y variable_df.

In [ ]:
# creo tablas de UVIS
uvi_df_table=pd.read_html('http://data.podemosaprender.org/finanzas/UVI_BCRA_2022.html')
uvi_df=uvi_df_table[0]# pq pongo [0]
uvi_df

          Fecha   Valor
0    2022-01-01   99.84
1    2022-01-02   99.84
2    2022-01-03   99.84
3    2022-01-04  100.09
4    2022-01-05  100.16
..          ...     ...
333  2022-11-30  161.49
334  2022-12-01  161.83
335  2022-12-02  162.17
336  2022-12-03  162.51
337  2022-12-04  162.51

[338 rows x 2 columns]

In [ ]:
# creo tablas de UVAS y despues la meto en otra variable.

uva_df_table=pd.read_html('http://data.podemosaprender.org/finanzas/UVA_BCRA_2022.html')
uva_df=uva_df_table[0]
uva_df

          Fecha   Valor
0    2022-01-01   97.58
1    2022-01-02   97.58
2    2022-01-03   97.58
3    2022-01-04   97.82
4    2022-01-05   97.89
..          ...     ...
333  2022-11-30  175.28
334  2022-12-01  175.63
335  2022-12-02  175.99
336  2022-12-03  176.35
337  2022-12-04  176.35

[338 rows x 2 columns]

In [ ]:
# creo tabla de dolar blue. Ojo!!! PQ   no tuve que usar la funcion pd.read_html 
dolar_blue_df = pd.read_csv("https://data.podemosaprender.org/finanzas/USD_BLUE_2022.csv",sep='\t')
#dolar_blue=dolar_blue_df[0] Pq esto no se pone 

dolar_blue_df

          fecha  compra  venta
0    2022-01-03   202.0  202.0
1    2022-01-04   202.5  202.5
2    2022-01-05   203.5  203.5
3    2022-01-06   204.5  204.5
4    2022-01-07   204.0  204.0
..          ...     ...    ...
228  2022-11-28   314.0  314.0
229  2022-11-29   311.0  311.0
230  2022-11-30   310.0  310.0
231  2022-12-01   309.0  309.0
232  2022-12-02   308.0  308.0

[233 rows x 3 columns]

In [ ]:
# me guardo el primer dato de la lista de dolar blue venta. Este seria mi dato cero con el cual comparo todos los demas
dato_0_blue=dolar_blue_df['compra'][0]
dato_0_blue

202.0

In [ ]:
#inicializo como valor 100 % el primer valor. Lq significa crear un indice en el df del dollar blue   
dolar_blue_df['blue_indice'] = dolar_blue_df['compra']/ dato_0_blue
dolar_blue_df

          fecha  compra  venta  blue_indice
0    2022-01-03   202.0  202.0     1.000000
1    2022-01-04   202.5  202.5     1.002475
2    2022-01-05   203.5  203.5     1.007426
3    2022-01-06   204.5  204.5     1.012376
4    2022-01-07   204.0  204.0     1.009901
..          ...     ...    ...          ...
228  2022-11-28   314.0  314.0     1.554455
229  2022-11-29   311.0  311.0     1.539604
230  2022-11-30   310.0  310.0     1.534653
231  2022-12-01   309.0  309.0     1.529703
232  2022-12-02   308.0  308.0     1.524752

[233 rows x 4 columns]

# Datos comparables, merge tables.

In [ ]:
#TODO: convertir todos en INDICES que valgan lo mismo en el primer dia ej. 100 y cambien proporcionalmente.

uva_0_dato=uva_df['Valor'][0]
uva_df['uva_indice']=uva_df['Valor']/uva_0_dato
uva_df

          Fecha   Valor  uva_indice
0    2022-01-01   97.58    1.000000
1    2022-01-02   97.58    1.000000
2    2022-01-03   97.58    1.000000
3    2022-01-04   97.82    1.002460
4    2022-01-05   97.89    1.003177
..          ...     ...         ...
333  2022-11-30  175.28    1.796270
334  2022-12-01  175.63    1.799857
335  2022-12-02  175.99    1.803546
336  2022-12-03  176.35    1.807235
337  2022-12-04  176.35    1.807235

[338 rows x 3 columns]

In [ ]:
#TODO: convertir todos en INDICES que valgan lo mismo en el primer dia ej. 100 y cambien proporcionalmente.
uvi_0_dato=uvi_df['Valor'][0]
uvi_df['uvi_indice']=uvi_df['Valor']/uvi_0_dato
uvi_df

          Fecha   Valor  uvi_indice
0    2022-01-01   99.84    1.000000
1    2022-01-02   99.84    1.000000
2    2022-01-03   99.84    1.000000
3    2022-01-04  100.09    1.002504
4    2022-01-05  100.16    1.003205
..          ...     ...         ...
333  2022-11-30  161.49    1.617488
334  2022-12-01  161.83    1.620893
335  2022-12-02  162.17    1.624299
336  2022-12-03  162.51    1.627704
337  2022-12-04  162.51    1.627704

[338 rows x 3 columns]

In [ ]:
df_indices=pd.merge(uvi_df,uva_df, on='Fecha')
df_indices.rename(columns={'Valor_x':'uva','Valor_y':'uvi'}, inplace=True)
df_indices

          Fecha     uva  uvi_indice     uvi  uva_indice
0    2022-01-01   99.84    1.000000   97.58    1.000000
1    2022-01-02   99.84    1.000000   97.58    1.000000
2    2022-01-03   99.84    1.000000   97.58    1.000000
3    2022-01-04  100.09    1.002504   97.82    1.002460
4    2022-01-05  100.16    1.003205   97.89    1.003177
..          ...     ...         ...     ...         ...
333  2022-11-30  161.49    1.617488  175.28    1.796270
334  2022-12-01  161.83    1.620893  175.63    1.799857
335  2022-12-02  162.17    1.624299  175.99    1.803546
336  2022-12-03  162.51    1.627704  176.35    1.807235
337  2022-12-04  162.51    1.627704  176.35    1.807235

[338 rows x 5 columns]

In [ ]:
dolar_blue_df.rename(columns={'fecha':'Fecha'}, inplace=True)
dolar_blue_df

          Fecha  compra  venta  blue_indice
0    2022-01-03   202.0  202.0     1.000000
1    2022-01-04   202.5  202.5     1.002475
2    2022-01-05   203.5  203.5     1.007426
3    2022-01-06   204.5  204.5     1.012376
4    2022-01-07   204.0  204.0     1.009901
..          ...     ...    ...          ...
228  2022-11-28   314.0  314.0     1.554455
229  2022-11-29   311.0  311.0     1.539604
230  2022-11-30   310.0  310.0     1.534653
231  2022-12-01   309.0  309.0     1.529703
232  2022-12-02   308.0  308.0     1.524752

[233 rows x 4 columns]

In [ ]:
df_indices=pd.merge(df_indices,dolar_blue_df, on='Fecha')
df_indices

,Fecha,uva,uvi_indice,uvi,uva_indice,compra,venta,blue_indice
0,2022-01-03,99.84,1.000000,97.58,1.000000,202.0,202.0,1.000000
1,2022-01-04,100.09,1.002504,97.82,1.002460,202.5,202.5,1.002475
2,2022-01-05,100.16,1.003205,97.89,1.003177,203.5,203.5,1.007426
3,2022-01-06,100.22,1.003806,97.97,1.003997,204.5,204.5,1.012376
4,2022-01-07,100.28,1.004407,98.05,1.004817,204.0,204.0,1.009901
...,...,...,...,...,...,...,...,...
228,2022-11-28,160.14,1.603966,173.85,1.781615,314.0,314.0,1.554455
229,2022-11-29,161.15,1.614083,174.92,1.792580,311.0,311.0,1.539604
230,2022-11-30,161.49,1.617488,175.28,1.796270,310.0,310.0,1.534653
231,2022-12-01,161.83,1.620893,175.63,1.799857,309.0,309.0,1.529703
232,2022-12-02,162.17,1.624299,175.99,1.803546,308.0,308.0,1.524752

###¿Cuantos fideos compra el dólar blue? 

Quiero contar que, si compraste dólares y aumento menos que los fideos, ahora te alcanza para menos fideos.

In [ ]:
from pandas.core.reshape.merge import merge
# Mandar arriba de todo

In [ ]:
# calcular uva/blue y blue/uva
df_indices['i_fideos'] = uva_df['uva_indice']/dolar_blue_df['blue_indice']  
df_indices['i_carry'] = dolar_blue_df['blue_indice']/uva_df['uva_indice']
df_indices

,Fecha,uva,uvi_indice,uvi,uva_indice,compra,venta,blue_indice,i_fideos,i_carry
0,2022-01-03,99.84,1.000000,97.58,1.000000,202.0,202.0,1.000000,1.000000,1.000000
1,2022-01-04,100.09,1.002504,97.82,1.002460,202.5,202.5,1.002475,0.997531,1.002475
2,2022-01-05,100.16,1.003205,97.89,1.003177,203.5,203.5,1.007426,0.992629,1.007426
3,2022-01-06,100.22,1.003806,97.97,1.003997,204.5,204.5,1.012376,0.990205,1.009892
4,2022-01-07,100.28,1.004407,98.05,1.004817,204.0,204.0,1.009901,0.993342,1.006703
...,...,...,...,...,...,...,...,...,...,...
228,2022-11-28,160.14,1.603966,173.85,1.781615,314.0,314.0,1.554455,0.922314,1.084230
229,2022-11-29,161.15,1.614083,174.92,1.792580,311.0,311.0,1.539604,0.933407,1.071344
230,2022-11-30,161.49,1.617488,175.28,1.796270,310.0,310.0,1.534653,0.938555,1.065468
231,2022-12-01,161.83,1.620893,175.63,1.799857,309.0,309.0,1.529703,0.943736,1.059618
232,2022-12-02,162.17,1.624299,175.99,1.803546,308.0,308.0,1.524752,0.946800,1.056189

In [ ]:
# de la tabla indices_df me traigo las columnas 'Fecha', 'i_fideos'
#calcular poder de compra de dolares sobre uva 
fig = px.line(
    df_indices,
    x='Fecha',
    y='i_fideos',
    title='¿Cuantos fideos compra el dólar blue a fín de año? '
  )
fig.show()

In [ ]:
#¿Cuantos dólares compro si me quedo en UVA?'
fig = px.line(
    df_indices,
    x='Fecha',
    y='i_carry',
    title='¿Cuantos dólares compro si me quedo en UVA hasta fín de año? '
  )
fig.show()

# **¿Qué nos dice el grafico?** 



En el grafico se puede observar:
 
* Eje horizontal: cada día del 2022.
* Eje vertical: índices compables para UVA, UVI y dólar blue.

Todos los índices comienzan desde 100 para hacer más fácil su comparación. Todas las curvas arrancan del mismo lugar y cambian también en proporciones comparables.

In [ ]:
#fig = px.line(indices_df, x="Fecha", y=["UVA_index","UVI_index","i_USD"], title='Indice de precios Construcción (UVI) vs Consumidor (UVA) vs Dolar Blue')
#fig.show()
#A: el grafico facilisimo y comodisimo que nos regala plotly <3 <3 <3

Si pongo UVA todo el año y  a fin de año me paso a dolares ¿Que % de ganancia en dolares consegui(carry trade)?

In [ ]:
"""
#TODO: mas avanzado pero lento de ejecutar
fig = px.line(uva_df, x="Fecha", y="Valor")

app = JupyterDash(__name__) #A: podemos crear una app dash aca mismo!
app.layout = html.Div([dcc.Graph(figure=fig)]) #A: armamos la app como siempre en dash, con html, controles, etc.
app.run_server(mode='inline') #A: ejecutar la app aqui mismo
"""

'\n#TODO: mas avanzado pero lento de ejecutar\nfig = px.line(uva_df, x="Fecha", y="Valor")\n\napp = JupyterDash(__name__) #A: podemos crear una app dash aca mismo!\napp.layout = html.Div([dcc.Graph(figure=fig)]) #A: armamos la app como siempre en dash, con html, controles, etc.\napp.run_server(mode=\'inline\') #A: ejecutar la app aqui mismo\n'

# TODO: Datos entre dos fechas

In [ ]:
def ():
  
  return

# **¿Qué más podemos aprender del gráfico?**
  De los gráficos a continuación podemos concluir que, en el primero, se observa que la mejor inversión es la del plazo fijo UVA por un periodo bastante prolongado están muy por encima de las demás. En el segundo solo por un pequeño periodo el dólar blue se disparó, pero luego volvió a sus valores en menos de 15 días. 

¿Que conclusión nos deja el ultimo grafico?
Muestra que no necesariamente por un incremento en la cotización o en rendimiento de una inversión debemos cambiarnos. Solo deberíamos cambiar de cuando tenemos algún tipo de certeza en que se puede llegar a tener una corriente alcista y esta puede ser estable.

In [ ]:

grafico_entre(Fecha1,Fecha2)
grafico_entre(Fecha2,Fecha3)

NameError: ignored

#¿Qué pasa si compramos el dia mas caro y despues baja?

In [ ]:


grafico_entre('2022-07-22',Fecha3)

# **¿Hubo momentos en que una inversión fue mejor que otra? ¿Qué significa esto?**

Hubo momentos en los que el índice UVA estuvo por encima del dólar blue. Más claramente desde fines de febrero hasta mitad de julio, llegando a haber una diferencia de 20 puntos máximo a favor del índice UVA. 

 El lado opuesto el dólar blue empezó a igualar al índice UVA a mitad de julio. Alcanzo un pico máximo de 28 puntos, luego volvió a la situación inicial el primero de agosto. Para luego ubicarse por debajo del índice UVA.

Todo lo anteriormente mencionado demuestra que con el fin de optimizar nuestra inversión máxima. Se deberá estar armando y desarmando posiciones entre dólar blue y el plazo fijo UVA.

# **¿A qué  conclusión llegamos teniento en cuenta todo lo anterior?**
De acuerdo a lo anteriormente mencionado, hacer una inversión dependerá de múltiples factores que no son solo el rendimiento como factor que debemos tener en cuenta. Hay por demás factores que pueden influenciar en nuestra decisión, la inmediatez de resolver alguna contingencia y requerir parte d nuestro dinero.
En cuanto al dólar blue la posibilidad de estar atento a una eventual suba o baja de cotización y saber cuánto tardaría en enterarme de las posibles fluctuaciones. ¿Para vos cual es la mejor inversión? Contanos abajo y hacelo personal.